@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../components/ui/markdownEditor.css';

html,
body {
  font-family: 'Inter', sans-serif;
  @apply bg-main text-body antialiased;
}

#__next {
  height: 100%;
}

.forceStroke > path,
g {
  stroke: currentColor;
}
